In [2]:
import pandas as pd
import numpy as np
import math
from scipy import stats

In [ ]:
# 
# Is our television ad driving more sales?

Are the average grades in web development vs data science classes different?

H(n) The average grades in web dev vs data science are not different

H(a) The average graddes in web dev are different from data science


Examples:
- TP:  The grades in data science are lower because it is a harder class
- FP:  The grades are different, because comparing data science month 4 to web dev month 1 (undercoverage?)
- TN:  The average grades in web dev vs data science are the same across all cohorts
- FN:  The average grades are the same, but the data is self-reported

Is there a relationship between how early a student shows up to class and their grade?

H(n) = There is no relationship between students grade and when they show up

H(a) = The earlier a student shows up to class the lower his/her grade is.

Examples:
- TP:  Students grades distribution are independent of what time they show up
- FP:  student grades distribution are dependent of arrival time, but they show to be independent because of a volunteering error
- TN:  Students who show up early get worse grades
- FN:  The data shows that students who show up early get worse grades, because the best 5 students in class show up at the same time on the same bus at 8:55

Are web dev or data science students more likely to be coffee drinkers?

H(n) = There is no relationship between coffee drinking and class type

H(a) = web dev students are more likely to be coffee drinkers


Examples
- TP:  The data shows there is no relationship between coffee drinking and class type
- FP:  The data shows there is no relationship between coffee drinking and class type, because the question is asked at the coffee machine
- TN:  Web Dev students drink 2 cups more of coffee a day on average
- FN:  This question was posed after the web dev students read an article on drinking coffee being sexy

Has the network latency gone up since we switched internet service providers?

H(n) = There has been no network latency change since switching providers.
H(a) = ATT has a terrbible infrastructure and systematically lied and mislead the public in San Antonio for years.  Fuck ATT


Examples:

- TP:  The internet has been continuously good and there has been no observable change
- FP:  There has been no latency change even though the new network is worse, because we got the "tor bandit" the day before switching providers
- TN:  ATT sucks, has always sucked and we regret doing business with them
- FN:  We asked the survey question, "How much does the new network suck" to get results

Is the website redesign any good?

H(n) Traffic to the website is the same as projections

H(a) The website redesign is terrible and traffic is significantly down

Examples:
- TP:  Site visits are equal to projections for the new website
- FP:  Site visits are equal to projections, but that is because of drudge report link criticizing the redesign
- TN:  Site visits are down as are all other key metrics
- FN:  Site visits are down, but other engagement numbers are up, because the redesign fixed a problem that had visitors falling off the site (opening advertisers in a new tab).

Is our television ad driving more sales?

H(n) Television ad is not driving new sales
H(a) Television ad is driving new sales

Examples:
- TP:  The new ad is blah and nobody is paying attention to it
- FP:  The new ad is blah, but Kim Kardashian was seen using our product on Keeping Up with the Kardashians, so sales are still up
- TN:  The new ad is awesome and sales are up
- FN:  The new ad is awesome but because of a supply issue we are sold out in our major market, and cannot keep up with demand

In [82]:
# Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
# A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
# A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
# Use a .05 level of significance.

"H(n) There is no difference between the two offices"
"H(a) There is a differeence between the two offices"

alpha = .05

x1 = 90
x2 = 100

n1 = 40
n2 = 50

s1 = 15
s2 = 20

degf = (n1 + n2) - 2 # n - number of categories

s_p = math.sqrt(
    ((n1 - 1) * s1**2 + (n2 - 1) * s2**2)
    /
    (n1 + n2 - 2)
)

t = (x1 - x2) / (s_p * math.sqrt(1 / n1 + 1 / n2))

In [83]:
t

-2.6252287036468456

In [85]:
p = stats.t(degf).sf(t) * 2
f'{p < alpha} means we fail to reject the null hypothesis'

'False means we fail to reject the null hypothesis'

In [81]:
# Load the mpg dataset and use it to answer the following questions:

from pydataset import data

mpg = data('mpg')


mpg.head(5)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [98]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

"H(n): There is no difference in fuel efficiency"
"H(a): There is a difference in fuel efficiency"

mpg['new_mpg'] = .55*mpg.cty + .45*mpg.hwy
mpg.head()


x1 = mpg[mpg.year == 1999].new_mpg
x2 = mpg[mpg.year == 2008].new_mpg

t, p0 = stats.ttest_ind(x1, x2)
t, p0

(0.24966221629328164, 0.8030694941407983)

In [99]:
f'{p0 < alpha} means we fail to reject the null hypothesis'

'False means we fail to reject the null hypothesis'

In [101]:
# Are compact cars more fuel-efficient than the average car?

"H(n): There is no difference in fuel efficiency"
"H(a): There is a difference in fuel efficiency"

mpg['new_mpg'] = .55*mpg.cty + .45*mpg.hwy
mpg.head()

x1 = mpg[mpg['class'] == 'compact'].new_mpg
mu = mpg.new_mpg.mean()

t, p2 = stats.ttest_1samp(x1, mu)
t, p2

(7.785633406850479, 6.133395124728956e-10)

In [102]:
f'{p2 < alpha} means we reject the null hypothesis'

'True means we reject the null hypothesis'

In [103]:
# Do manual cars get better gas mileage than automatic cars?

"H(n): There is no difference in fuel efficiency"
"H(a): There is a difference in fuel efficiency"

mpg['new_mpg'] = .55*mpg.cty + .45*mpg.hwy


mpg['transmission'] = mpg.trans.str.split('(').apply(lambda x: x[0])

mpg.head()


x1 = mpg[mpg.transmission == 'manual'].new_mpg
mu = mpg.new_mpg.mean()

t, p3 = stats.ttest_1samp(x1, mu)
t, p3

(3.538925682974741, 0.0006892496147887921)

In [100]:
f'{p3 < alpha} means we reject the null hypothesis'

'True means we reject the null hypothesis'

In [104]:
exam_scores = pd.read_csv("exam_scores.csv") 

pd.qcut(exam_scores.coffee_consumed, 3)
# [(-0.001, 4.0] < (4.0, 6.0] < (6.0, 10.0]]

def coffee_bitches(x):
    if x < 4:
        return 'small'
    elif x <= 6:
        return 'medium'
    else:
        return 'large'

exam_scores['how_much_coffee'] = exam_scores.coffee_consumed.apply(coffee_bitches)

exam_scores.head()

,exam_score,hours_studied,study_strategy,handedness,coffee_consumed,hours_slept,how_much_coffee
0,100.591011,9.126291,flashcards,left,0,11,small
1,95.637086,9.677438,flashcards,left,1,10,small
2,53.200296,4.550207,NaN,right,5,6,medium
3,63.934268,6.487848,flashcards,right,4,7,medium
4,51.186370,6.720959,flashcards,right,5,6,medium

In [77]:
# small
x = exam_scores[exam_scores.how_much_coffee == 'small'].exam_score
mu = exam_scores.exam_score.mean()

t, p = stats.ttest_1samp(x, mu)
t, p

(8.57954909640931, 1.8245275788279414e-06)

In [78]:
# medium
x = exam_scores[exam_scores.how_much_coffee == 'medium'].exam_score
mu = exam_scores.exam_score.mean()

t, p = stats.ttest_1samp(x, mu)
t, p

(1.1901143379810957, 0.2552819801650254)

In [79]:
# large
x = exam_scores[exam_scores.how_much_coffee == 'large'].exam_score
mu = exam_scores.exam_score.mean()

t, p = stats.ttest_1samp(x, mu)
t, p

(-7.842799371968028, 4.60423833632296e-06)