In [ ]:
# Let's use what we've learned to play a mage duel!

# Imagine your wizard has 6d4 health points and you have spells that do 6d4 damage. "6d4" means rolling six 4-sided dice and summing the result.

# Your opposing mage has 4d6 health points and spells that do 4d6. "4d6" means rolling four six-sided dice and summing the result.

# Exercises
# Simulate mage duels to answer who is the more powerful mage?

# Before running simulations, do you have a hypothesis of which mage will win? Do you have a hunch? Write it down. This is your first exercise.
# Simulate 10 mage duels. Is there a clear winner? Run that 10 duel simulation again. Was the answer similar?
# Do the results change much at 100 duels?
# # Now, simulate 10,000 mage duels. Is there a clear winner?

6 sided die expected value 3.5 (1+2+3+4+5+6)/6
4 sided die expected value 2.5 (1+2+3+4)/4 
4k6 = 14
6k4 = 15

In [1]:
import numpy as np
import pandas as pd

In [13]:
four_d_six = np.random.choice([1, 2, 3, 4, 5, 6], size=(10, 4))
six_d_four = np.random.choice([1, 2, 3, 4], size = (10, 6))

(six_d_four.sum(axis = 1) > four_d_six.sum(axis = 1)).mean()

0.5

In [14]:
four_d_six = np.random.choice([1, 2, 3, 4, 5, 6], size=(10, 4))
six_d_four = np.random.choice([1, 2, 3, 4], size = (10, 6))

(six_d_four.sum(axis = 1) > four_d_six.sum(axis = 1)).mean()

0.6

In [19]:
four_d_six = np.random.choice([1, 2, 3, 4, 5, 6], size=(100, 4))
six_d_four = np.random.choice([1, 2, 3, 4], size = (100, 6))

(six_d_four.sum(axis = 1) > four_d_six.sum(axis = 1)).mean()

0.59

In [18]:
four_d_six = np.random.choice([1, 2, 3, 4, 5, 6], size=(100, 4))
six_d_four = np.random.choice([1, 2, 3, 4], size = (100, 6))

(six_d_four.sum(axis = 1) > four_d_six.sum(axis = 1)).mean()

0.54

In [15]:
four_d_six = np.random.choice([1, 2, 3, 4, 5, 6], size=(10_000, 4))
six_d_four = np.random.choice([1, 2, 3, 4], size = (10_000, 6))

(six_d_four.sum(axis = 1) > four_d_six.sum(axis = 1)).mean()

0.545

In [37]:
four_d_six = np.random.choice([1, 2, 3, 4, 5, 6], size=(10_000, 4))
six_d_four = np.random.choice([1, 2, 3, 4], size = (10_000, 6))

(six_d_four.sum(axis = 1) > four_d_six.sum(axis = 1)).mean()
rolls = pd.DataFrame({'6_d_4' : six_d_four.sum(axis = 1), '4_d_6' : four_d_six.sum(axis = 1)})

In [38]:
rolls

      6_d_4  4_d_6
0        15     16
1        13     15
2        15      8
3        17      9
4        12     15
...     ...    ...
9995     16     11
9996     14     11
9997     18     14
9998     16     14
9999     20     17

[10000 rows x 2 columns]

In [39]:
x =1
x

1